.imageContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: -1;
    bottom: 10em;
    width: 100%;
}

.title {
    position: relative;
    top: 13.5em;
    color: rgb(255, 255, 255);
    font-weight: 300;
    z-index: 1;
}

.aboutPageImage {
    width: 100%;
}

.aboutPageContent{
    position: relative;
    bottom: 7em;
    color: rgb(56, 56, 56);
    line-height: 2rem;
    font-weight: 300;
    margin-left: 25em;
    width: 50%;
}