.footer{
    background-color: #0b3661dc;
    height: 18em;
    width: 100%;
}

.footerList{
    padding: 4em 4em;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    float: left;
}

.footerItem{
    padding-top: 1rem;
}