.container{
    display: grid;
    margin-top: 11em;
    margin-bottom: 9em;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-gap: 20px;
}

.imageContentContainer{
    margin: 1em 3em 0 14em;
    width: 65%;
}

.alternativeImagesContainer{
    display: inline-flex;
    margin-top: 10px;
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.textContainer{
    margin-left: 2em;
    font-size: 14px;
    width: 50%;
}

.addToCart{
    background-color:#0b3661dc ;
    border-radius: 2em;
    border: none;
    color: white;
    padding: 1.2em 7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.15s;
}

.addToCart:hover {
    background-color: #0b3661b2;
}

.buttonIcon{
    position: absolute;
    margin-left: 15px;
    font-size: 1.3rem;
}